<mat-dialog-content style="overflow: visible; min-width: 48rem">
    <h2>Topic Options ({{topicName}})</h2>
    <p>Purge channel:</p>
    <button mat-stroked-button title="purge channel" (click)="purgeChannel()">
        <img src="assets/EIP-icons/channel-purger.svg" style="padding:3px" />
    </button>

</mat-dialog-content>
<mat-dialog-actions>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <!-- <button mat-button [mat-dialog-close]="confirm()">Confirm</button> -->
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
